$headerBG: #07101a;
$heroBG:#0e2035;
$colorWhite: #fff;
$colorRed:#f26122;
$primaryOrange: #ff6633;
$colorBorderGrey: #706d6a;
$colorGrey:#e6e6e6;
$colorDarkGrey:#999999;
$colorPink: #23135e;
$colorBtn:#6acce4;
$colorContact: #1a1a1a;
$formBorder: #4d4d4d;
$colorContactBtn: #ff5f00;
$colorFooter: #101010;